* {
    cursor: default !important;
}
a, button {
    cursor: pointer !important;
  }
/* fonti */
.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Alata", sans-serif;
    margin: 0;
    width: 100%;
}

header {
    background-image: url(../images/banner.png);
    background-size: auto 55px;
    background-position: right center;
    background-repeat: no-repeat;
    height: 55px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    @media (max-width: 768px) {
        background-size: auto 55px;
        background-position: right center;
        height: 55px;
    }

    @media (max-width: 480px) {
        background-size: auto 55px;
        background-position: right center;
        height: 55px;
    }
}
.nav-links {
    display: flex;
    margin-left: 10%;
    height: 55px;
    align-items: center;
    gap: 5%;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Alata", sans-serif;
    font-size: 24px;
}

#hero {
    top: 55px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.hover-underline {
    display: inline-block;
    position: relative;
  }
  .hover-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 3px;
    background: #40685B;
    transition: width 0.3s ease;
  }
  .hover-underline:hover::after {
    width: 100%;
  }

.hover-left h1 {
    font-family: "Alata", sans-serif;
    font-size: 32px;
    background: transparent;
    color: white;
    text-align: left;
    margin-left: 20vw;
    margin-right: 5vw;
}

.nav-links .hover-underline::after {
    height: 3px;
    bottom: -1px;
    background: #1D1C1C;
}

.hover-left {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 70%;
    background-color: rgba(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: transform 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
    left: -60%;
    border-bottom-right-radius: 30px;
    opacity: 0;
    transform: translateX(0);
}

.hover-left:hover{
    transform: translateX(60%);
    opacity: 0.9;
}

.car-slides {
    position: relative;
    z-index: 5;
}

.heroslideshow-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    z-index: 15;
    background: transparent;
}

.heroslideshow-container h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Audiowide", sans-serif;
    margin: 0;
    padding: 0;
    background: transparent;
    color: black;
    font-size: clamp(24px, 5vw, 120px);
    text-align: center;
    z-index: 20;
}

.heroslideshow-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.heroslideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-right {
    height: 100%;
}

.next {
    cursor: pointer;
    top: 0px;
    position: absolute;
    right: 0;
    height: 100%;
    user-select: none;
    opacity: 0;
    z-index: 15;
}
.next img {
    object-fit: cover;
    height: 100%;
}

.next:hover {
    transition-duration: 0.5s;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    border-radius: 3px 0 0 3px;
    opacity: 1;
}


.section-inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-top: 40px;
    flex-wrap: wrap;
}
  
.section-text {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 120px 20px;
    line-height: 1.5;
    font-size: 24px;
    flex: 1;
    min-width: 60%;
}

.section-text h1,
.section-text p,
.section-text ul {
margin-top: 0;
margin-bottom: 1em;
}

.circle {
width: 26px;
height: 26px;
margin-left: 40px;
margin-top: 0px;
flex-shrink: 0;
}

.circle img {
width: 100%;
height: auto;
display: block;
}

#info h1 {
    color: #40685B;
    font-size: 64px;
    line-height: normal;   
}


#info, #how-to {
    min-height: 60vh;
    padding: 5vh 0; 
    width: 100vw;
}

#download {
    border-radius: 60px;
    background: #1D1C1C;
    box-shadow: 0px 21px 28.3px 0px rgba(0, 0, 0, 0.25);
}

#download h1 {
    color: #EEE;
    font-size: 64px;
    line-height: normal; 
}
#download .circle {
    width: 26px;
    height: 26px;
    margin-left: 40px;
    margin-top: 40px;
}

#download .section-inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 0;
}

#download .section-text {
    color: #EEE;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 20px 40px 20px;
    line-height: 1.5;
    font-size: 24px;
}
#download {
    min-height: 60vh;
    padding: 0vh 0;   
    width: 100vw;
}

ul a {
    text-decoration: none;
    color: white
}
ul a:hover {
    text-decoration: underline;
}

.download-content {
    display: flex;
    align-items: flex-start;
    gap: 30px; 
    flex-wrap: wrap; 
}

.steps {
    flex: 1;
    min-width: 250px;
}

.code-img {
    flex: 1;
    min-width: 250px;
}
.code-img img {
    width: 100%;
    max-width: 700px;
}

.download-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: justify-content 0.5s ease;
    margin-top: 70px;
    padding-bottom: 5vh;
}

.download-button button {
    width: 250px; 
    height: 57px;
    border-radius: 10px;
    border: 2px solid #342D2D;
    background: #40685B;
    color: #000;
    text-align: center;
    font-family: Alata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
.download-button button:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.download-button button:before {
    content: "";
    position: absolute;
    top: 30%;
    left: -100%; 
    width: 70%;
    height: 70%;
    background: url('../images/car.png') no-repeat center;
    background-size: cover;
    transition: all 2s ease; 
}
.download-button button:hover:before {
    left: 100%; 
}

#how-to {
    flex-shrink: 0;
}

#how-to h1 {
    color: #40685B;
    font-size: 64px;
    line-height: normal;   
}
#how-to .section-text {
    padding: 40px 20px 0px 20px;
}

.function-block {
    font-family: "Alata", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 70px 100px 100px 100px;
}

.function-title, .function {
    display: grid;
    grid-template-columns: 2fr minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr); /* Гибкие колонки */
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 10px; 
    padding: 16px 0;
    border-bottom: 1px solid #c7ccd1;
}

.function-title {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 2px solid #c7ccd1;
}

.function div {
    font-size: 24px;
}

.function-title > div:nth-child(1) {
    color:#40685B;
}

.function-title > div:nth-child(n+2) {
    text-align: center;
    color:#1D1C1C;
}

.function > div:nth-child(n+2) {
    text-align: center;
    font-weight: bold;
}

.function img {
    vertical-align: middle;
}


/*tooltip */
.con-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    width: 300px;
    padding: 10px;
    background: #1D1C1C;
    color: #40685B;
    position: absolute;
    top: 50%; 
    left: 102%; 
    transform: translateY(-50%); 
    border-radius: 9px;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

.tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #1D1C1C transparent transparent transparent;
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%) rotate(90deg);
}

.con-tooltip:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


hr {
    width: 70%;
    height: 2px;
    background: #40685B;
}

footer {
    margin-top: 20px;
    align-items: center;
    display: flex;
    height: 10%;
    justify-content: center;
    width: 100%;
}
    
footer p {
    font-size: 20px;
    padding-bottom: 10px;
    margin-right: 25%;
    padding-left: 10%;
}

.contact {
    display: flex;
    gap: 20%;
    align-items: center;
    margin: 0 10%;
}
.contact img {
    transition: opacity 0.3s ease; /* Плавный переход при наведении */
}

.contact img:hover {
    opacity: 0.7; /* Затемнение при наведении */
}


@media (max-width: 1303px) {
    .download-content {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}
/* for 1225px width and smaller */
@media (max-width: 1225px) {
    .circle {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
    }

    #info h1 {
        font-size: 40px;
    }
    #info .section-inner {
        padding-top: 40px;
        gap: 20px;
    }

    #download {
        min-height: 80vh;
    }
    #download h1 {
        font-size: 40px;
    }  
    #download .circle {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
    #download .section-inner {
        padding-top: 20px;
        gap: 90px;
    }
    #download .section-text {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        line-height: 1.5;
        font-size: 24px;
    }
    .download-button {
        justify-content: center;
        margin-top: 10vh;
        padding-bottom: 5vh;
    }
    #how-to h1 {
        font-size: 40px;
    }
    #how-to .section-inner {
        padding-top: 0px;
        gap: 20px;
    }

    footer p {
        margin-right: 5%;
        padding-left: 5%;
    }
    .contact {
        margin: 0 10%;
    }
}


/* for 768px and smaller */
.hamburger {
    display: none;
  }
  
  
@media (max-width: 768px) {
    #info, #how-to {
        min-height: 50vh;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 15px;
      position: fixed;
      top: 5px;
      left: 10px;
      z-index: 1001;
      cursor: pointer;
    }
    .hamburger span {
      width: 30px;
      height: 3px;
      background: #000;
      transition: 0.3s;
    }
    
    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }
    
    .nav-links {
      position: fixed;
      margin: 0;
      top: 55px;
      left: -100%;
      flex-direction: column;
      background: rgba(0, 0, 0, 0);
      width: 100%;
      height: calc(100vh - 55px);
      transition: 0.3s;
      padding: 20px 0;
      gap: 30px;
      z-index: 1000;
      align-items: center;
    }
    .nav-links.active {
      left: 0;
      background: rgba(0, 0, 0, 0.9);
    }
    .nav-links a {
        color: white;
        font-size: 18px;
        padding: 8px;
    }

    .hover-left h1 {
        padding-left: 20px;
        font-size: 20px;
    }
    
    #how-to .section-inner {
        gap: 30px;
    }
    #info .section-inner {
        gap: 30px;
    }
    #info h1 {
        font-size: 32px;
    }
    .section-text {
        padding: 20px 0px;
        font-size: 20px;
    }
    #download h1 {
        font-size: 32px;
    }
    #download .section-text{
        font-size: 20px;
    }
    .download-button button {
        width: 200px; 
        height: 50px;
        font-size: 24px;
    }
    .function-block {
        max-width: 80%; /* Увеличиваем ширину до 100% */
        padding: 20px; /* Уменьшаем отступы */
    }

    .function-title, .function {
        grid-template-columns: 2fr repeat(3, minmax(80px, 1fr)); /* Уменьшаем минимальную ширину колонок */
        grid-row-gap: 8px; /* Уменьшаем расстояние между строками */
    }

    .function-title > div, .function div {
        font-size: 16px; /* Уменьшаем размер текста */
    }
    .tooltip {
        width: 200px;
        padding: 10px;
    }
    .tooltip::after {
        left: -15px;
    }
    footer {
        margin-top: 0;
        align-items: center;
        display: flex;
        height: 6%;
        justify-content: center;
        width: 100%;
    }
    footer p {
        font-size: 16px;
    }  
    .contact {
        display: flex;
        align-items: center;
        margin: 0 0 0 10%;
        gap: 0;
    }  
    .contact img {
        width: 70%;
    }
}

/* for 480px and smaller */
@media (max-width: 480px) {
    #hero h1 {
        font-size: 14px;
    }
    .hover-underline::after {
        height: 2px;
    }
    #info, #how-to {
        min-height: 40vh;
    }

    #info h1 {
        font-size: 28px;
    }
    #info .section-inner {
        padding-top: 40px;
    }
    .section-text {
        font-size: 18px;
    }
    #download h1 {
        font-size: 28px;
    }  
    #download p {
        font-size: 18px;
    }
    #download li {
        font-size: 18px;
    }
    #download .section-inner {
        padding-top: 20px;
        gap: 50px;
    }
    #download .section-text {
        font-size: 18px;
    }
    #how-to h1 {
        font-size: 28px;
    }
    
    #how-to .section-inner {
        padding-top: 0px;
    }
    .function-block {
        padding: 10px; /* Ещё больше уменьшаем отступы */
    }

    .function-title, .function {
        grid-template-columns: 2fr repeat(3, minmax(60px, 1fr)); /* Ещё больше уменьшаем минимальную ширину колонок */
        grid-row-gap: 6px; /* Уменьшаем расстояние между строками */
    }

    .function-title > div, .function > div {
        font-size: 14px; /* Ещё больше уменьшаем размер текста */
    }

    .function img {
        width: 40%; /* Уменьшаем размер изображений */
        margin: 0 auto; /* Центрируем изображения */
    }
    .tooltip {
        width: 180px;
        padding: 10px;
    }
    footer p {
        font-size: 12px;
    }
}
